body {
    background: #151515;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.myname{
  font-size: 8rem;
    letter-spacing: 10px;
    text-align: center;
    top: 3vh;
    width: 100%;
    
}
.hero{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.marquee{
  width: 100%;
  direction: left;
  height: 200px;
  font-size: 80px;
  color: #e5c88e;
  animation: scroll 5s infinite;
}
.img-back {
  z-index: -1;
  border-radius: 25px;
  display: block;
  margin: auto;
  position: absolute;
  top: 10vh;
   
}